{% block content %}
<head>
<script type="text/javaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/css/style.css" />
</head>




<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/png, image/jpeg">
  <button type="submit">submit</button>
</form>


{% if folders%}
    {% for folder in folders %}
    <form action="/wb" method="post" type="text" name="folder_path">
    <button type="submit" value="{{folder}}" name="folder_path">{{folder}}</button>
    </form>
    {% endfor %}
{% endif %}


{% endblock %}